<footer class="footer mt-auto py-3" style="background-color: #1d577a;color:white"> 
    <div class="container">
        <span class="text-center">Derechos reservados @ 2021</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>