<!-- Estructura del panel del Alumno, que será include en el panel principal -->

<div class="container mt-5 mb-5">
    <div class="cointainer mt-5 mb-5">
        <div class="row offset-1">
            <a class="col-10 p-5 m-2 btn btn-outline-dark" href="/horariosAlumno/<%= typeof idAlumno != 'undefined' ? idAlumno : '0'  %>"><Horario class="far fa-calendar"> Horario</Horario></a>
        </div>
        <div class="row offset-1">
            <a class="col-5 p-5 m-1 btn btn-outline-dark" href="/alumnos/perfil?idAlumno=<%= typeof idAlumno != 'undefined' ? idAlumno : '0'  %>"><Perfil class="fas fa-user-circle"> Perfil</Perfil></a>
            <a class="col-5 p-5 m-1  btn btn-outline-dark" href="/NotasAlumno/<%= typeof idAlumno != 'undefined' ? idAlumno : '0'  %>"><Evaluacion class="fas fa-book"> Notas</Evaluacion></a>
        </div>
    </div>
</div>