<!-- Estructura del panel del administrador, que será include en el panel principal -->

<div class="container mt-5 mb-5">
    <div class="cointainer mt-5 mb-5">
        <div class="row offset-1">
            <a class="col-5 p-5 m-2 btn btn-outline-dark" href="/adminHorario"><Horario class="far fa-calendar"> Horarios</Horario></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="/profesores"><Profesores class="fas fa-chalkboard-teacher"> Profesores</Profesores></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="/aulas"><Aulas class="fas fa-building"> Aulas</Aulas></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="/adminMatricula"><Inscripciones class="fas fa-clipboard-check"> Inscripciones</Inscripciones></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="/alumnos"><Alumnos class="fas fa-users"> Alumnos</Alumnos></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="/clases"><Materia class="fas fa-book"> Materia</Materia></a>
        </div>
    </div>
</div>
