<!-- Estructura del panel del Alumno, que será include en el panel principal -->

<div class="container mt-5 mb-5">
    <div class="cointainer mt-5 mb-5">
        <div class="row offset-1">
            <a class="col-5 p-5 m-2 btn btn-outline-dark" href="#"><Horario class="far fa-calendar"> Horario</Horario></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="#"><Evaluacion class="fas fa-book"> Notas</Evaluacion></a>
        </div>
        <div class="row offset-1">
            <a class="col-5 p-5 m-2 btn btn-outline-dark" href="#"><Perfil class="fas fa-user-circle"> Perfil</Perfil></a>
            <a class="col-5 p-5 m-2  btn btn-outline-dark" href="#"><Matricula class="fas fa-clipboard-check"> Matricula</Matricula></a>
        </div>
    </div>
</div>